Repository playerony/next-js-supabase: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier-package-json --write

chore: cli
  .github/workflows/azure-static-web-apps-ashy-smoke-058f71103.yml
  .github/workflows/ci.yml
Due: none

chore: cli
  .github/workflows/azure-static-web-apps-ashy-smoke-058f71103.yml
Due: none

chore: cli
  package.json
Due: prettier --write, prettier-package-json --write

chore: cli
  .eslintignore
  .lintstagedrc
  scripts/plop/create-component/templates/{{kebabCase name}}.styles.scss.hbs
  scripts/plop/create-component/templates/{{kebabCase name}}.{{type}}.tsx.hbs
Due: none

chore: cli
  .github/workflows/ci.yml
Due: none

chore: configure plop commitlint and more (#1)
  .eslintignore
  .github/workflows/ci.yml
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  commitlint.config.js
  next.config.js
  package.json
  postcss.config.js
  scripts/plop/create-component/create-component.js
  scripts/plop/create-component/templates/{{kebabCase name}}.types.ts.hbs
  scripts/plop/create-component/templates/{{kebabCase name}}.{{type}}.tsx.hbs
  scripts/plop/create-function/create-function.js
  scripts/plop/create-function/templates/{{kebabCase name}}.function.ts.hbs
  scripts/plop/create-function/templates/{{kebabCase name}}.spec.ts.hbs
  scripts/plop/create-hook/create-hook.js
  scripts/plop/create-hook/templates/{{kebabCase name}}.hook.{{extension}}.hbs
  scripts/plop/create-hook/templates/{{kebabCase name}}.spec.ts.hbs
  scripts/shell/git-checkout-main-with-pull.sh
  scripts/shell/git-create-branch.sh
  scripts/shell/git-push-changes.sh
  scripts/shell/git-reset-local-changes.sh
  scripts/shell/reinstall-node-modules.sh
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: base website routing
  .env.example
  package.json
  pages/[id].tsx
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/logout.tsx
  public/favicon.ico
  public/vercel.svg
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/dashboard/dashboard.types.ts
  src/application/pages/index.ts
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/lesson-details/lesson-details.types.ts
  src/application/pages/login/login.page.tsx
  src/application/pages/logout/logout.page.tsx
  src/infrastructure/index.ts
  src/infrastructure/persistence/index.ts
  src/infrastructure/persistence/supabase/supabase.instance.ts
  src/interfaces.ts
  src/next-env.d.ts
  src/pages/api/hello.ts
  src/pages/index.tsx
  tsconfig.paths.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: base website routing (#2)
  .env.example
  package.json
  pages/[id].tsx
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/logout.tsx
  public/favicon.ico
  public/vercel.svg
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/dashboard/dashboard.types.ts
  src/application/pages/index.ts
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/lesson-details/lesson-details.types.ts
  src/application/pages/login/login.page.tsx
  src/application/pages/logout/logout.page.tsx
  src/infrastructure/index.ts
  src/infrastructure/persistence/index.ts
  src/infrastructure/persistence/supabase/supabase.instance.ts
  src/interfaces.ts
  src/next-env.d.ts
  src/pages/api/hello.ts
  src/pages/index.tsx
  tsconfig.paths.json
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: create stripe account route
  .env.example
  package.json
  pages/api/create-stripe-customer.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: create stripe account route (#3)
  .env.example
  package.json
  pages/api/create-stripe-customer.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: global access to user object
  pages/[id].tsx
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/logout.tsx
  src/application/index.ts
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/login/login.page.tsx
  src/application/pages/logout/logout.page.tsx
  src/application/providers/index.ts
  src/application/providers/user-provider/user-provider.component.tsx
  src/application/providers/user-provider/user-provider.types.ts
  src/infrastructure/context/index.ts
  src/infrastructure/context/user/user.context.ts
  src/infrastructure/context/user/user.types.ts
  src/infrastructure/index.ts
  src/utils/hooks/index.ts
  src/utils/hooks/use-user/use-user.hook.ts
  src/utils/index.ts
  tsconfig.paths.json
Due: prettier --write, eslint --fix

chore: update
  src/application/pages/dashboard/dashboard.page.tsx
Due: prettier --write, eslint --fix

chore: global access to user object (#4)
  pages/[id].tsx
  pages/_app.tsx
  pages/index.tsx
  pages/login.tsx
  pages/logout.tsx
  src/application/index.ts
  src/application/pages/login/login.page.tsx
  src/application/pages/logout/logout.page.tsx
  src/application/providers/index.ts
  src/application/providers/user-provider/user-provider.component.tsx
  src/application/providers/user-provider/user-provider.types.ts
  src/infrastructure/context/index.ts
  src/infrastructure/context/user/user.context.ts
  src/infrastructure/context/user/user.types.ts
  src/infrastructure/index.ts
  src/utils/hooks/index.ts
  src/utils/hooks/use-user/use-user.hook.ts
  src/utils/index.ts
  tsconfig.paths.json
Due: prettier --write, eslint --fix

feat: pricing page
  package.json
  pages/pricing.tsx
  src/application/pages/index.ts
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/pages/pricing/pricing.types.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: pricing page (#5)
  package.json
  pages/pricing.tsx
  src/application/pages/index.ts
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/pages/pricing/pricing.types.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: improvements for pricing page
  pages/_app.tsx
  src/application/app/app.component.tsx
  src/application/app/app.types.ts
  src/application/index.ts
  src/application/pages/pricing/pricing.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/index.ts
  src/components/nav/nav.component.tsx
  src/infrastructure/context/index.ts
  src/infrastructure/context/user/user.types.ts
  tsconfig.paths.json
Due: prettier --write, eslint --fix

feat: improvements for pricing page (#6)
  pages/_app.tsx
  src/application/app/app.component.tsx
  src/application/app/app.types.ts
  src/application/index.ts
  src/application/pages/pricing/pricing.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/index.ts
  src/components/nav/nav.component.tsx
  src/infrastructure/context/index.ts
  src/infrastructure/context/user/user.types.ts
  tsconfig.paths.json
Due: prettier --write, eslint --fix

feat: create stripe subscription
  package.json
  pages/api/set-supabase-cookie.ts
  pages/api/stripe-hooks.ts
  pages/api/subscription/[priceId].ts
  pages/payment/cancel.ts
  pages/payment/success.ts
  src/application/pages/index.ts
  src/application/pages/payment-cancel/payment-cancel.page.tsx
  src/application/pages/payment-success/payment-success.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/nav/nav.component.tsx
  src/infrastructure/persistence/supabase/supabase.instance.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: create stripe subscription (#7)
  package.json
  pages/api/set-supabase-cookie.ts
  pages/api/stripe-hooks.ts
  pages/api/subscription/[priceId].ts
  pages/payment/cancel.ts
  pages/payment/success.ts
  src/application/pages/index.ts
  src/application/pages/payment-cancel/payment-cancel.page.tsx
  src/application/pages/payment-success/payment-success.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/nav/nav.component.tsx
  src/infrastructure/persistence/supabase/supabase.instance.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

refactor: more restrict eslint configuration
  .eslintignore
  .eslintrc
  .eslintrc.js
  .prettierrc
  package.json
  pages/[id].tsx
  pages/_app.tsx
  pages/api/create-stripe-customer.ts
  pages/api/stripe-hooks.ts
  pages/api/subscription/[priceId].ts
  pages/pricing.tsx
  src/application/app/app.component.tsx
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/pages/pricing/pricing.types.ts
  src/application/providers/user-provider/user-provider.component.tsx
  src/infrastructure/context/user/user.types.ts
  src/interfaces.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: merge
  yarn.lock
Due: none

refactor: strict eslint configuration (#8)
  .eslintignore
  .eslintrc
  .eslintrc.js
  .prettierrc
  package.json
  pages/[id].tsx
  pages/_app.tsx
  pages/api/create-stripe-customer.ts
  pages/api/stripe-hooks.ts
  pages/api/subscription/[priceId].ts
  pages/pricing.tsx
  src/application/app/app.component.tsx
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/lesson-details/lesson-details.page.tsx
  src/application/pages/pricing/pricing.page.tsx
  src/application/pages/pricing/pricing.types.ts
  src/application/providers/user-provider/user-provider.component.tsx
  src/infrastructure/context/user/user.types.ts
  src/interfaces.ts
  src/next-env.d.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: final version
  .eslintrc.js
  pages/api/portal.ts
  pages/api/stripe-hooks.ts
  pages/dashboard.tsx
  pages/index.tsx
  pages/privacy.tsx
  pages/terms.tsx
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/home/home.page.tsx
  src/application/pages/home/home.types.ts
  src/application/pages/index.ts
  src/application/pages/privacy/privacy.page.tsx
  src/application/pages/terms/terms.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/nav/nav.component.tsx
  src/infrastructure/context/user/user.types.ts
Due: prettier --write, eslint --fix

chore: final version
  .eslintrc.js
Due: prettier --write, eslint --fix

chore: final version (#9)
  pages/api/portal.ts
  pages/api/stripe-hooks.ts
  pages/dashboard.tsx
  pages/index.tsx
  pages/privacy.tsx
  pages/terms.tsx
  src/application/pages/dashboard/dashboard.page.tsx
  src/application/pages/home/home.page.tsx
  src/application/pages/home/home.types.ts
  src/application/pages/index.ts
  src/application/pages/privacy/privacy.page.tsx
  src/application/pages/terms/terms.page.tsx
  src/application/providers/user-provider/user-provider.component.tsx
  src/components/nav/nav.component.tsx
  src/infrastructure/context/user/user.types.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx,js,jsx}) or (any of: *.json)
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.scss
  prettier-package-json --write: any of: package.json
